@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
}

html {
    height: 100vh;
    background-color: #f6f0f0;
    font-family: Raleway, sans-serif;
    color: #818173;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

/* CONFIGURAÇÕES HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.7rem;
    margin-left: 5rem;
    margin-right: 10rem;
    height: 6rem;
    background-color: transparent;
    font-size: 1.6rem;

}

.menu {
    display: none;
}

img.logo-felicita {
    margin-top: 7rem;
    width: 20rem;
    height: 20rem;
}

.navigation {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
    margin-right: 10rem;
    gap: 2rem;
    z-index: 1000;

}

.navigation li {
    list-style: none;

}

.navigation li>a {
    display: inline-block;
    position: relative;
    color: #818173;
    text-decoration: none;
}

.navigation li>a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #818173;
    transition: width 0.3s ease;

}

.navigation li>a:hover::after {
    width: 100%;
}

.navigation p:hover {
    cursor: pointer;
}

/* CONFIGURÇÕES SEÇÃO DESTAQUE*/
main {
    margin-top: 10rem;
}

section.destaque {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 4rem;
    max-width: 70vw;
    height: 60rem;
    font-size: 1.6rem;
    background-color: #8c8b79;
    border-radius: 1rem;
}

#titulo-destaque {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    font-size: 3rem;
    color: white;
}

#destaque {
    display: flex;
    justify-content: space-around;
    height: 90%;
    border-radius: 1rem;
}



.img-destaque {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30rem;
    height: 100%;
    background-color: #cfcbbf;
    border: 1px solid #646353;
    border-radius: 2rem;


}

.imagem-destaque {
    height: 85%;
    width: 85%;
    max-width: 25rem;
    border-radius: 2%;
}

.imagem-destaque:hover {
    cursor: pointer;
}

.texto-destaque {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    height: 95%;
    width: 50%;
    border: 1px solid #646353;
    background-color: #cfcbbf;
    gap: 2rem;
    border-radius: 2rem;
}



#p-destaque {
    display: flex;
    align-items: center;
    height: 70%;
    font-size: 2.5rem;
    color: #818173;
}

.preço-destaque {
    display: flex;
    height: 70%;
    font-size: 8rem;
    color: #818173;
}

.btn-destaque {
    height: 10rem;
    width: 15rem;
    border: none;
    outline: none;
    background-color: #f6f0f0;
    font-family: Raleway, sans-serif;
    color: #8c8b79;
    border-radius: .5rem;
    cursor: pointer;
}

.btn-destaque:hover {
    background-color: #ffffff;
    transition: background-color .5s;
}

.slideshow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    gap: 2rem;
}

/* CONFIGURAÇÕES SECTION PRODUTOS */

section#produtos {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    height: 180rem;
    font-size: 1.6rem;
}

.par-de-produtos1,
.par-de-produtos2,
.par-de-produtos3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60rem;

}

.produto1,
.produto2 {
    display: flex;
    justify-content: center;
    width: 50%;
    gap: 1rem;
}

#img-produto {
    width: 30%;
}

.texto-produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 20%;
}

.preco {
    display: flex;
    flex-direction: column;
}

.preco-antigo {
    text-decoration-line: line-through;
}

.p-produto {
    font-size: 4rem;
}

.img-produto {
    width: 100%;
    border-radius: 2rem;
}

.img-produto:hover {
    cursor: pointer;
}

.btn-produto {
    height: 5rem;
    width: 10rem;
    border: none;
    outline: none;
    background-color: #8c8b79;
    font-family: Raleway, sans-serif;
    color: #f6f0f0;
    border-radius: .5rem;
    cursor: pointer;
}

.btn-produto:hover {
    border: none;
    background-color: #acab99;
    transition: background-color .5s;
}



/* CONFIGURAÇÕES SEÇÃO SOBRE NÓS */

section#sobre-nos {
    display: flex;
    align-items: center;
    height: 60rem;
    background-color: #bebeaf;
    font-size: 2rem;
}

.sobre-nos {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70%;
}

.texto-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    color: #f5f3ee;
    gap: 3rem;
}

.texto-sobre>.hr {
    width: 60rem;
    height: 0.2rem;
    background-color: #f5f3ee;
}

.titulo-sobre {
    font-size: 3rem;
}

.p-sobre {
    max-width: 60rem;
    text-align: justify;
}

.img-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}




/* CONFIGURAÇÕES FOOTER*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    height: 5em;
    font-size: 1.6rem;
}

@media screen and (max-width: 850px) {
    header {
        display: flex;
        justify-content: center;
    }

    .logo {
        display: none;
    }

    .navigation {
        display: none;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 4rem;
    }

    .imagem-menu {
        height: 5rem;
        width: 5rem;
        background-color: #8c8b79;
        border-radius: .5rem;
        cursor: pointer;
    }

    /* SEÇÃO DESTAQUE */
    section.destaque {
        align-items: center;
        margin: auto;
        height: 80rem;
    }

    #destaque {
        flex-direction: column;
        margin-top: 8rem;
    }

    .img-destaque {
        display: flex;
        background-color: transparent;
        border: none;
    }

    .imagem-destaque {
        width: 22rem;
        height: 35rem;
    }

    .texto-destaque {
        height: 100%;
        width: 100%;
        background-color: transparent;
        gap: 2rem;
        border: none;

    }

    .p-destaque {
        color: #f6f0f0;
    }

    .preço-destaque {
        font-size: 5rem;
        color: #f6f0f0;
    }

    .btn-destaque {
        background-color: #b3b3a3;
        color: #f6f0f0;
        border: 1px solid #cfcbbf;

    }

    .btn-destaque:hover {
        background-color: #bebeaf;
    }

    /* CONFIGURAÇÕES SECTION PRODUTOS */


    section#produtos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 360rem;
    }

    .par-de-produtos1,
    .par-de-produtos2,
    .par-de-produtos3 {
        display: flex;
        flex-direction: column;
        height: 120rem;
        gap: 10rem;
    }

    .produto1,
    .produto2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }

    .texto-produto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 20%;
        gap: 1rem;
    }

    .preco {
        display: flex;
        flex-direction: column;
    }

    .preco-antigo {
        text-decoration-line: line-through;
    }

    .img-produto {
        width: 100%;
    }

    #img-produto {
        max-width: 18.2rem;
        min-width: 18.2rem;
    }

    .btn-produto {
        height: 4rem;
        width: 8rem;
    }

    /* SEÇÃO SOBRE NÓS */


    .sobre-nos {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 70%;
    }

    .texto-sobre {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        font-size: 1.7rem;
        gap: 3rem;
    }

    .img-sobre {
        display: none;
        align-items: center;
        justify-content: center;

    }

    .imagem-sobre {
        display: none;
    }


}

@media screen and (min-width: 850px) and (max-width: 1321px) {

    /* CONFIGURAÇÕES DESTAQUE */
    .texto-destaque {
        width: 40%;
    }

    #p-destaque {
        font-size: 2rem;
    }

    .preço-destaque {
        font-size: 6rem;
    }

    /* CONFIGURAÇÕES SECTION PRODUTOS */

    section.produtos {
        display: flex;
        flex-direction: column;
        gap: 10rem;
    }

    .par-de-produtos1,
    .par-de-produtos2,
    .par-de-produtos3 {
        display: flex;
        flex-direction: column;
        margin-bottom: 15rem;
        min-width: 35rem;
        gap: 10rem;
    }

    .produto1,
    .produto2 {
        gap: 10rem;
    }

    .texto-produto {
        gap: 2rem;
    }

    #img-produto {
        max-width: 18.2rem;
        min-width: 18.2rem;
    }

    /* CONFIGURAÇÕES SEÇÃO SOBRE NÓS */
    section#sobre-nos {
        display: flex;
        align-items: center;
        margin-top: 45rem;
        height: 50rem;
        background-color: #bebeaf;
        font-size: 2rem;
    }

    .sobre-nos {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 70%;
    }

    .texto-sobre {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        color: #f5f3ee;
        gap: 3rem;
    }

    .texto-sobre>.hr {
        height: 0.2rem;
        width: 50rem;
        background-color: #f5f3ee;
    }

    .titulo-sobre {
        font-size: 2.5rem;
    }

    .p-sobre {
        max-width: 50rem;
        font-size: 1.7rem;
        text-align: justify;
    }

    .img-sobre {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
    }

    .imagem-sobre {
        height: 80rem;
    }
}