@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-VariableFont_wght.ttf');
}

* {

    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
}

html {
    background-color: #f6f0f0;
    color: #818173;
    scrollbar-width: none;
    height: 100vh;
    font-family: Raleway, sans-serif;
    scroll-behavior: smooth;
}

/* CONFIGURAÇÕES HEADER */
header {
    margin-top: 0.7rem;
    margin-left: 5rem;
    margin-right: 10rem;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    font-size: 1.6rem;

}

.menu {
    display: none;
}

img.logo-felicita {
    margin-top: 7rem;
    width: 20rem;
    height: 20rem;
}

.navigation {
    margin-top: 7rem;
    margin-right: 10rem;
    z-index: 1000;
    display: flex;
    justify-content: center;
    gap: 2rem;

}

.navigation li {
    list-style: none;

}

.navigation li>a {
    color: #818173;
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.navigation li>a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #818173;
    transition: width 0.3s ease;

}

.navigation li>a:hover::after {

    width: 100%;
}

.navigation p:hover {
    cursor: pointer;
}

/* CONFIGURÇÕES SEÇÃO DESTAQUE*/
main {
    margin-top: 10rem;
}

section.destaque {
    padding: 4rem;
    background-color: #8c8b79;
    margin: auto;
    max-width: 70vw;
    border-radius: 1rem;
}

.destaque {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 60rem;
    font-size: 1.6rem;


}

#titulo-destaque {
    justify-content: center;
    color: white;
    display: flex;
    align-items: center;
    height: 30%;
    font-size: 3rem;
}

#destaque {
    height: 90%;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
}



.img-destaque {
    background-color: #cfcbbf;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    min-width: 30rem;

}

.imagem-destaque {
    height: 85%;
    width: 85%;
    max-width: 25rem;
    border-radius: 2%;
}

.imagem-destaque:hover {
    cursor: pointer;
}

.texto-destaque {
    background-color: #cfcbbf;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 50%;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    border-radius: 2rem;
}



#p-destaque {
    color: #818173;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    height: 70%;
}

.preço-destaque {
    font-size: 8rem;
    color: #818173;

    display: flex;

    height: 70%;
}

.btn-destaque {
    border-radius: .5rem;
    cursor: pointer;
    height: 10rem;
    width: 15rem;
    border: none;
    outline: none;
    background-color: #f6f0f0;
    color: #8c8b79;
    border: 1px solid #8c8b79;
    font-family: Raleway, sans-serif;
}

.btn-destaque:hover {
    border: 1px solid white;
}


/* CONFIGURAÇÕES SECTION PRODUTOS */

section#produtos {
    margin-top: 10rem;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    height: 180rem;
}

.par-de-produtos1,
.par-de-produtos2,
.par-de-produtos3 {
    display: flex;
    height: 60rem;
    justify-content: center;
    align-items: center;

}

.produto1,
.produto2 {
    display: flex;
    width: 50%;
    justify-content: center;
    gap: 1rem;
}

#img-produto {
    width: 30%;
}

.texto-produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    justify-content: space-around;
}

.preco {
    display: flex;
    flex-direction: column;
}

.preco-antigo {
    text-decoration-line: line-through;
}

.p-produto {
    font-size: 4rem;
}

.img-produto {
    width: 100%;
    border-radius: 2rem;
}

.img-produto:hover {
    cursor: pointer;
}

.btn-produto {
    border-radius: .5rem;
    cursor: pointer;
    height: 5rem;
    width: 10rem;
    border: none;
    outline: none;
    background-color: #8c8b79;
    color: #f6f0f0;
    border: 1px solid #8c8b79;
    font-family: Raleway, sans-serif;
}

.btn-produto:hover {
    background-color: #acab99;
}



/* CONFIGURAÇÕES SEÇÃO SOBRE NÓS */

section#sobre-nos {
    display: flex;
    align-items: center;

    height: 55rem;
    font-size: 1.6rem;
}

.sobre-nos {
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: center;

}

.texto-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 70%;

}

.img-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}



/* CONFIGURAÇÕES FOOTER*/
footer {
    display: flex;
    font-size: 1.6rem;
    height: 5em;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 850px) {
    header {
        display: flex;
        justify-content: center;
    }

    .logo {
        display: none;
    }

    .navigation {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 4rem;
    }

    .imagem-menu {
        cursor: pointer;
        height: 5rem;
        width: 5rem;
    }

    /* SEÇÃO DESTAQUE */
    .destaque {
        align-items: center;
        margin: auto;
        height: 80rem;


    }

    #destaque {
        flex-direction: column;
    }

    .img-destaque {
        background-color: transparent;
        display: flex;
    }

    .imagem-destaque {
        width: 22rem;
        height: 35rem;
    }

    .texto-destaque {
        height: 100%;
        width: 100%;
        gap: 2rem;
        background-color: transparent;

    }

    .p-destaque {
        color: #f6f0f0;
    }

    .preço-destaque {
        color: #f6f0f0;
        font-size: 5rem;
    }

    .btn-destaque {
        background-color: #b3b3a3;
        color: #f6f0f0;
        border: 1px solid #cfcbbf;

    }

    .btn-destaque:hover {
        background-color: #bebeaf;
    }

    /* CONFIGURAÇÕES SECTION PRODUTOS */


    section#produtos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 360rem;
    }

    .par-de-produtos1,
    .par-de-produtos2,
    .par-de-produtos3 {
        display: flex;
        height: 120rem;
        flex-direction: column;
        gap: 10rem;
    }

    .produto1,
    .produto2 {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
    }



    .texto-produto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20%;
        gap: 1rem;
    }

    .preco {
        display: flex;
        flex-direction: column;
    }

    .preco-antigo {
        text-decoration-line: line-through;
    }


    .img-produto {
        width: 100%;

    }

    #img-produto {
        max-width: 18.2rem;
        min-width: 18.2rem;

    }

    .btn-produto {
        height: 4rem;
        width: 8rem;
    }

    /* SEÇÃO SOBRE NÓS */


    .sobre-nos {
        display: flex;
        width: 100%;
        height: 70%;
        justify-content: center;

    }

    .texto-sobre {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        width: 60%;

    }

    .img-sobre {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
    }



}

@media screen and (min-width: 850px) and (max-width: 1321px) {

    /* CONFIGURAÇÕES DESTAQUE */
    .texto-destaque {
        width: 40%;
    }

    #p-destaque {
        font-size: 2rem;
    }

    .preço-destaque {
        font-size: 6rem;
    }

    /* CONFIGURAÇÕES SECTION PRODUTOS */

    section.produtos {
        display: flex;
        flex-direction: column;
        gap: 10rem;
    }

    .par-de-produtos1,
    .par-de-produtos2,
    .par-de-produtos3 {
        min-width: 35rem;
        display: flex;
        flex-direction: column;
        gap: 10rem;

    }

    .produto1,
    .produto2 {
        gap: 10rem;
    }



    .texto-produto {
        gap: 2rem;
    }

    #img-produto {
        max-width: 18.2rem;
        min-width: 18.2rem;

    }
}